.home-container {
  padding: 2rem;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom right, #fff5ef, #e5f9f5);
  min-height: 100vh;
  color: #333;
  text-align: center;
}

.main-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #444;
}

.quote-card {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  padding: 1.5rem;
  max-width: 600px;
  margin: 0 auto 2rem;
}

.quote-text {
  font-size: 1.25rem;
  font-style: italic;
  color: #222;
}

.quote-author {
  margin-top: 1rem;
  color: #777;
}

.special-box {
  background-color: #fff4e6;
  border-left: 5px solid #ffc785;
  border-radius: 12px;
  padding: 1rem;
  max-width: 600px;
  margin: 0 auto 2rem;
}

.mood-section h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.emoji-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.emoji-btn {
  font-size: 1.5rem;
  background: #ffffff;
  border: 2px solid #eee;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.emoji-btn:hover {
  background: #ffe6d0;
  transform: scale(1.1);
}

.home-wrapper {
  background: linear-gradient(to bottom right, #e8fef7, #ffffff, #fdf9f2);
  min-height: 100vh;
}

.section {
  padding: 3rem 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
}

.section.narrow {
  max-width: 800px;
}

.section-title {
  font-size: 2rem;
  text-align: center;
  font-family: 'Playfair Display', serif;
  color: #333;
  margin-bottom: 2rem;
}

/* Hero Styles */
.hero-section {
  padding: 2rem 1rem 2rem;
  text-align: center;
  border: 2px solid red;
}

.hero-inner {
  max-width: 900px;
  /* border: 2px solid red; */
  margin: 0 auto;
}

.hero-title {
  font-size: 4rem;
  font-family: 'Playfair Display', serif;
  color: #222;
  font-weight: 600;
  margin-bottom: 1rem;
  /* border: 2px solid red; */
  line-height: 4rem
}

.highlight {
  display: block;
  color: #139591;
  /* border: 2px solid red; */
}

.hero-subtitle {
  font-size: 1.3rem;
  color: #666;
  font-family: 'Inter', sans-serif;
  max-width: 600px;
  margin: 0 auto ;
  margin-top: 2rem;
  
  /* border: 2px solid red; */
}
